body{
    background: #fff;
}

.bell_icon{
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bell_icon:hover{
    animation: shake 1.5s linear infinite;
    transform-origin: 50% 0;
}

@keyframes shake {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    20%{
        transform: translate(-50%,-50%) rotate(-10deg);
    }
    40%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    80%{
        transform: translate(-50%,-50%) rotate(10deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}